* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/*
PACKAGE CONTROL

1. Install Sublime Text Manager - Package Control sublime.wbond.net
2. Copy Code to console
2. Ctrl + Shift + P : Search Install Package
4. Color Highlighter

*/


/*TEXT SNIPPETS






*/